#!/bin/bash

# set code below to a, b, or c according to the RBG strategy in place
export ES_Index="geodc_a"
export ES_MKT_Index="gmkt_a"

export CREATE_DB_USER="<DB USER>"
export CREATE_DB_PASS="<DB PASS>"
export DB_NAME="dla_raw"
export CREATE_DB_SCHEMA="test"
export CREATE_WORK_SCHEMA="work"

export DBHOST=localhost

export PGUSER="$CREATE_DB_USER"
export PGPASSWORD="$CREATE_DB_PASS"

export CPL_DEBUG=ON


if [ "$0" == "-bash" -o "$0" == "bash" ]; then
    workDir=`pwd`
else
    workDir=`dirname "$0"`
fi
thisDir=`pwd`
cd $workDir
workDir=`pwd`
cd "${thisDir}"

export PYTHONPATH="${workDir}"

